body {
    background-image: url("../img/wall.jpg");
}

section {
    position: absolute;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    width: 100%;
}

article {
    margin-left: auto;
    margin-right: auto;
    border: solid;
    width: 800px;
    height: 800px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-bottom: 10px;
    background: #E6E6E6;
    border-radius: 15px;
}


h2 {
    text-align: left;
    font-size: 20px;
    font-family: Georgia;
}

h2 a {
    color: black;

}

h2 a:visited {
    color: black;
}

span.title {
    display: block;
    font-size: 50px;
}

canvas {
    background: white;
    border-top: ridge;
    border-left: ridge;
    border-right: groove;
    border-bottom: groove;
    border-color: #000000;
    border-width: 5px;
}

p.votes {
    text-align: center;
    text-transform: uppercase;
    font-family: "Arial Black";
}

button {
    margin: auto;
    margin-bottom: 5px;
    border-radius: 10px;
    display: block;
    width: 250px;
    background-color: #9EA1A8;
    text-transform: uppercase;
}

button:hover {
    border-style: inset;
    background-color: #787A80;
}

#more {
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

